.menuWrapper {
	box-shadow: 0 0 0 10px var(--primary);
}

@media screen and (max-width: 640px) {
  .container {
		grid-template-rows: auto 1fr auto;
	}
	.menuContainerClosed {
		grid-template-columns: 0px 1fr;
	}
	.menuContainerOpened {
		grid-template-columns: auto 1fr;
	}
	.menuWrapper {
		left: 64px;
		top: 0;
	}
}

@media screen and (min-width: 640px) {
  .container {
		grid-template-columns: auto 1fr auto auto;
	}
	.menuContainerClosed {
		grid-template-rows: 0px 1fr;
	}
	.menuContainerOpened {
		grid-template-rows: auto 1fr;
	}
	.menuWrapper {
		top: 63px;
		left: var(--borderWidth, 3px);
	}
}
