@keyframes slideDown {
	0%   { transform: translate(-50%, -100%); }
	100% { transform: translate(-50%, 0); }
}

@media screen and (max-width: 639px) {
  .container {
		grid-template-rows: auto 1fr auto auto;
		width: calc(var(--menuSize, 64px) + (var(--borderWidth, 2px) * 2));
		height: 100%;
	}
	.menuContainerClosed {
		grid-template-columns: 0px 1fr;
		width: 100%;
	}
	.menuContainerOpened {
		grid-template-columns: auto 1fr;
	}
	.menuWrapper {
		left: calc(var(--borderWidth, 2px) + var(--menuSize, 64px));
	}
}

@media screen and (min-width: 640px) {
  .container {
		grid-template-columns: auto 1fr auto auto auto;
		height: calc((var(--borderWidth, 2px) * 2) + 60px);
	}
	.animatedContainer {
		animation: slideDown 1500ms cubic-bezier(0,1,.03,.99) 500ms 1 normal forwards;
		transform: translate(-50%, -100%);
	}
	.containerClosed {
		overflow: hidden;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
	}
	.menuContainerClosed {
		grid-template-rows: 0px 1fr;
	}
	.menuContainerOpened {
		grid-template-rows: auto 1fr;
	}
	.menuWrapper {
		top: calc(var(--menuSize, 64px) + (var(--borderWidth, 2px) * 2));
		left: 0;
	}
}
