.container {
  padding-left: 0;
}

.innerContainer {
  min-width: 256px;
  top: var(--borderWidth, 3px);
  left: 0px;
  grid-template-rows: auto 64px;
}

@media screen and (max-width: 640px) {
  .linksParent {
    grid-template-rows: repeat(var(--linksCount, 3), auto) 1fr;
    min-height: calc(100% + var(--borderWidth, 3px));
  }
}

@media screen and (min-width: 640px) {
  .linksParent {
    grid-template-columns: repeat(3, 1fr);
  }
  .container {
		overflow: hidden;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
  }
  .innerContainer {
    grid-template-rows: auto 0;
  }
}

@media screen and (min-width: 1024px) {
  .linksParent {
    grid-auto-flow: column dense;
    grid-template-columns: repeat(4, 1fr);
  }
}
