.container {
	@apply -ml-bd;
	display: grid;
	grid-template-columns: 1fr;
	background: white;
	position: relative;
	border-bottom-left-radius: .5rem;
	border-bottom-right-radius: .5rem;
}

@media screen and (max-width: 639px) {
	.container {
		width: calc(100% + var(--borderWidth, 2px) * 2);
	}
}

.swiperContainer {
	--swiper-pagination-color: var(--primary, #000);
}

@media screen and (max-width: 1023px) {
	.swiperContainer {
		padding: 12px 0 64px;
	}
}

.swiperSlide {
	transition-property: opacity;
	position: relative;
	pointer-events: none;
}

.swiperSlideActive {
	pointer-events: auto;
}

.swiperSlide img {
	border-radius: 8px;
}

.infoBlock {
	@apply overflow-hidden -mt-bd;
	border-radius: 8px;
	border-top-left-radius: 0px;
}

.firstTabBlock {
	border-top-left-radius: 0px;
}

.form input:checked + svg {
	display: block;
}

@media screen and (max-width: 340px) {
	.themeSelect {
		grid-template-columns: repeat(8, 1fr);
		grid-gap: .25rem;
	}
}
