{
    "plugins": [
        "@typescript-eslint",
        "prettier"
    ],
    "extends": [
        "airbnb-typescript",
        "prettier"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "rules": {
        "react/prop-types": "off",
        "jsx-a11y/anchor-is-valid": "off",
        "prettier/prettier": "error"
    }
}