.btnLetter {
    min-width: 3px;
    transform: rotate(0);
    transition: transform 200ms ease-out;
}

.btn {
    box-shadow: 0 0 0 0px black;
    user-select: none;
}

.btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px black;
    border-color: black;
}

.btn:hover .btnLetter {
    transform: rotate(360deg);
}