.squareButton {
    min-height: var(--menuSize, 64px);
}

.squareButton:hover:not(.squareButtonActive) .buttonContentContainer {
    transform: translateY(-2px);
}

.squareButton:active:not(.squareButtonActive) .buttonContentContainer {
    transform: translateY(3px);
}

.squareButtonTab {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.squareButtonActiveTab {
    @apply border-b-secondary;
}

.buttonContentContainer {
    height: calc(100%);
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'icon status'
        'text text';
    grid-auto-rows: 1fr;
    transform: translateY(0);
    will-change: transform;
}

.textOnlyContainer {
    @apply py-1.5 px-4 text-2xl font-black;
    grid-template-areas: 'text text'
        'text text';
}

@media screen and (max-width: 340px) {
    .textOnlyContainer {
        @apply text-base;
    }
}

.iconOnlyContainer {
    min-width: 3.5rem;
    grid-template-areas: 'icon icon'
        'icon icon';
}
