@keyframes fadeIn {
  0%   { opacity: 0; transform: translate(0, 10px); }
  100% { opacity: 1; transform: translate(0, 0); }
}

@keyframes slideSideways {
  0%   { transform: translateX(30%); }
  100% { transform: translateX(-100%); }
}

.fadeIn {
  opacity: 0;
  transform: translate(0, 10px);
  animation: fadeIn 1000ms cubic-bezier(.35,.02,0,.99) 1000ms 1 normal forwards;
}

.container {
  width: 100%;
  height: calc(100vh - 60px);
}

@media screen and (min-width: 640px) {
  .container {
    width: 100%;
    height: calc(100vh - 120px);
  }
}

@media screen and (max-width: 639px) {
  .container {
    overflow: hidden;
  }

  .container > div,
  .container > div > div {
    width: var(--imgWidth, 1920px);
    height: var(--imgHeight, 740px);
  }

  .container > div {
    transform-origin: 0 0;
    transform: translateX(calc(var(--imgWidth, 1920px) * -1));
    animation: slideSideways 20000ms linear 0ms infinite normal both;
  }
}
