@keyframes fadeIn {
  0%   { opacity: 0; transform: translate(0, 10px); }
  100% { opacity: 1; transform: translate(0, 0); }
}

@keyframes slideSideways {
  0%   { transform: scale(3) translateX(50vw); }
  100% { transform: scale(3) translateX(-50vw); }
}

.fadeIn {
  opacity: 0;
  transform: translate(0, 10px);
  animation: fadeIn 1000ms cubic-bezier(.35,.02,0,.99) 1000ms 1 normal forwards;
}

.container {
  height: calc(100vh - 60px);
}

@media screen and (min-width: 640px) {
  .container {
    height: calc(100vh - 120px);
  }
}

@media screen and (max-width: 639px) {
  .container {
    overflow: hidden;
  }

  .container > div {
    transform: scale(3) translateX(50vw);
    animation: slideSideways 20000ms linear 0ms infinite normal both;
  }
}
