@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
	.gf {
		@apply overflow-hidden rounded-lg border-primary bg-secondary -mt-bd -ml-bd border-bd;
	}

	.gft {
		@apply overflow-hidden rounded-lg border-primary -mt-bd -ml-bd border-bd;
	}

	.gfc {
		@apply bg-primary pt-bd pl-bd;
	}

	.focus-ring {
		@apply focus:ring-4 ring-inset ring-primary20 focus:outline-none;
	}

	.group-focus-ring {
		@apply group-focus:ring-4 ring-inset ring-primary20;
	}

	.h-screen {
		height: calc(var(--vh, 1vh) * 100);
	}

	.blend-screen {
		mix-blend-mode: screen;
	}

	hover\:blend-normal {
		mix-blend-mode: normal;
	}

	.blend-multiply {
		mix-blend-mode: multiply;
	}

	.framed {
		@apply relative;
	}

	.framed::before {
		@apply absolute top-0 bottom-0 left-0 right-0 z-10 rounded-lg pointer-events-none;
		box-shadow: inset 0 0 0 var(--borderWidth, 3px) var(--primary, black);
		content: ' ';
	}
}

@layer base {
	html,
	body,
	.app-wrapper {
		@apply relative w-full h-screen overflow-hidden;
		-webkit-overflow-scrolling: touch;
		transition: height 100ms ease-in-out;
		will-change: height;
	}

	*:focus {
		@apply rounded focus-ring;
	}

	.app-wrapper {
		z-index: 1;
		padding-left: 61px;
	}

	body {
		--borderWidth: 3px;
		@apply bg-primary text-primary;
	}

	/* purgecss start ignore */
	body .notion {
		@apply font-sans text-base leading-normal text-primary;
		caret-color: var(--primary);
	}

	body .notion h1,
	body .notion h2,
	body .notion h3 {
		@apply font-semibold uppercase;
	}

	body .notion h1 {
		@apply text-2xl font-bold;
	}

	body .notion h2 {
		@apply text-xl;
	}

	body .notion h3 {
		@apply text-lg;
	}

	body .notion-table {
		@apply break-normal whitespace-normal;
	}

	body .notion-th {
		@apply text-primary;
	}

	body .notion-table {
		@apply bg-primary rounded-md;
		background-blend-mode: overlay;
		border-collapse: separate;
		border-spacing: 2px;
	}

	body .notion-th {
		@apply font-bold uppercase text-secondary;
	}

	body .notion-td {
		@apply rounded bg-secondary;
	}

	body .notion-table,
	body .notion-th,
	body .notion-td {
		border: none;
	}

	/* Dirty trick to target div parent of tables */
	body .notion div[style="max-width: 100%; margin-top: 5px;"],
	body .notion div[style="max-width:100%;margin-top:5px"] {
		overflow-x: auto;
	}
	/* purgecss end ignore */
}

