@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
	.gf {
		@apply overflow-hidden rounded-lg border-primary bg-secondary;
		border-width: var(--borderWidth, 3px);
		margin-top: calc(var(--borderWidth, 3px) * -1);
		margin-left: calc(var(--borderWidth, 3px) * -1);
	}

	.gfc {
		@apply bg-primary;
		padding-top: var(--borderWidth);
		padding-left: var(--borderWidth);
	}

	.h-full-p {
		height: calc(100% + var(--borderWidth, 3px));
	}

	.h-full-fr {
		height: calc(1fr + var(--borderWidth, 3px));
	}

	.w-full-p {
		width: calc(100% + var(--borderWidth, 3px));
	}

	.w-full-fr {
		width: calc(1fr + var(--borderWidth, 3px));
	}

	.w-50-p {
		width: calc(50% + var(--borderWidth, 3px));
	}
}

@layer base {
	html,
	body,
	.app-wrapper {
		position: relative;
		width: 100%;
		height: 100vh;
		height: calc(var(--vh, 1vh) * 100);
		-webkit-overflow-scrolling: touch;
		overflow: hidden;
	}

	.app-wrapper {
		z-index: 1;
		padding-left: 61px;
	}

	body {
		--borderWidth: 3px;
		@apply bg-primary text-primary;
	}

	body .notion {
		@apply text-primary font-sans text-base leading-normal;
		caret-color: var(--primary);
	}

	body .notion h1,
	body .notion h2,
	body .notion h3 {
		@apply uppercase font-semibold;
	}

	body .notion h1 {
		@apply text-2xl font-bold;
	}

	body .notion h2 {
		@apply text-xl;
	}

	body .notion h3 {
		@apply text-lg;
	}

	body .notion-table {
		@apply break-normal whitespace-normal;
	}

	body .notion-th {
		@apply text-primary;
	}

	body .notion-table {
		@apply bg-primary rounded-md;
		background-blend-mode: overlay;
		border-collapse: separate;
		border-spacing: 2px;
	}

	body .notion-th {
		@apply text-secondary font-bold uppercase;
	}

	body .notion-td {
		@apply bg-secondary rounded;
	}

	body .notion-table,
	body .notion-th,
	body .notion-td {
		border: none;
	}

	/* Dirty trick to target div parent of tables */
	body .notion div[style="max-width: 100%; margin-top: 5px;"],
	body .notion div[style="max-width:100%;margin-top:5px"] {
		overflow-x: auto;
	}
}

